<header class="header">
    <div class="header__title">Photo search</div>
    <div class="header__search-container">
        <i class="header__search-icon fas fa-search"></i>
        <input type="text" class="header__search-input form-control" placeholder="food, culture, music..." #searchInput>
    </div>
    <div class="header__credits">powered by Flickr public feed</div>
</header>

<section class="contents">
    <ng-container *ngTemplateOutlet="showLoading ? loading : showError ? error : feed.length === 0 ? noData : results">
    </ng-container>
</section>

<ng-template #loading>
    <div class="contents__loading">
        <i class='contents__loading-icon fas fa-spinner fa-spin'></i>
        Loading...
    </div>
</ng-template>

<ng-template #noData>
    <div class="contents__no-data">
        <i class="contents__no-data-icon fas fa-exclamation-triangle"></i>
        Your search did not return any results.
    </div>
</ng-template>

<ng-template #error>
    <div class="contents__error">
        <i class="contents__error-icon fas fa-exclamation-circle"></i>
        Something went wrong!
    </div>
</ng-template>

<ng-template #results>
    <a class="contents__card-container" *ngFor="let feedItem of feed" target="_blank" [href]="feedItem.link">
        <div class="contents__card">
            <div class="contents__card-front" [style.background-image]="'url(' + feedItem.thumbnailUrl + ')'">
                <div class="contents__card-front-info">by {{ feedItem.author | author }}
                    <div class="contents__card-front-sub">Date: {{ feedItem.date | date: 'dd/MM/yyyy' }}</div>
                </div>
            </div>
            <div class="contents__card-back">
                <div class="contents__card-back-header">Tags</div>
                <div class="contents__card-back-info">{{ feedItem.tags | tags }}</div>
            </div>
        </div>
    </a>
</ng-template>