/* You can add global styles to this file, and also import other style files */
:root {
    /* colors */
    --color-theme-primary: #017e91;
    --color-theme-secondary: #017e9126;
    --color-amber: #ea7342;
    --color-red: #db352f;
    --color-white: #ffffff;

    /* spacings */
    --space-base: 8px;
    --space-small: 16px;
    --space-medium: 24px;
    --space-large: 32px;
}

body {
    min-width: 480px;
    margin: 0px;
    background-color: #f5f5f5;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}